.section-complete {
    width: 90%;
    margin-bottom: 50px;

    .mb-5 {
        margin-bottom: 3rem!important;
    }
    
    hr {
        border-top: 4px solid #CCC;
    }
    
    .tm-text-primary {
        color: #006699;
    }
}

