.page-container {
    width: 100%;
    height: 95%;
  }
  
.example-sidenav-content {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
}

.example-sidenav {
    width: 220px;
    transform: none;
    visibility: visible;
  }

.menu-icon {
    position: fixed;
    right: 20px;
    top: 36px;
}
