
.d-inline {
    display: inline-flex;
}

.subsection {
    width: 75%;
    margin-bottom: 30px;

    .border-progress-bar {
        margin-right: 15px;
    }

    .subsection-content {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 40px;
        width: 85%;
    }

    .subsection-img {
        width: 100%;
        margin-top: 20px;
    }
    
    .div-img-subsection {
        text-align: center;
    }

    .position-relative {
        position: relative;
    }

    .col-4-percent {
        width: 4%;
    }
}
